nav{
    height: 90px;
    position: relative;
    background: #7391c3;
    z-index: 2;
}
.bg-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 0;
}
.bg-img img{
    position: relative;
    min-height: 200px;
    overflow: hidden;
    /* max-height: 272px; */
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.profile-area {
    top: 50px;
    position: relative;
    width: 50%;
    margin: 5px auto !important;
    margin-bottom: 50px !important;
}
.profile-1 {
    position: relative;
    display: inline-block;
    width: 50% !important;

}

.profile-1 img {
    border: 3px solid #7391c3;
    padding: 10px;
    border-radius: 150px;
    background: rgba(115, 145, 195, 0.5);
}
span.heart{
    position: absolute;
    overflow: hidden;
    left: calc(50% - 43px);
    top: 35%;
    z-index: 1;
}
span.heart img {
    height: 70px;
}


.wedding-main-content {
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;
    background: rgba(115, 145, 195, 0.8);
    padding: 20px;
    margin-top: 70px;
    display: inline-block;
}




.banner-container
{
	width: 100%;
	height: 800px;
    background-image: url(http://yr.momentsunlimited.in/html/images/v.jpg);
    background-size:100% 800px;
    background-repeat: no-repeat;
}
.banner-row
{
    margin-top: 0px;
    width: 50%;
    margin: 0 auto;
}
.img1
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #fff;
}
.banner-box1
{
	margin-top: 120px;
	display: inline-block;
    width: 260px !important;
}
.banner-circle
{
   border: 3px solid #7391c3;
   padding: 15px;
   width: 235px;
   height: 235px;
   border-radius: 160px;
   margin: 0 auto;
   background: rgba(136, 159, 195, 0.64);
}
.with
{
    width: 100px;
    /* left: 46%; */
    height: auto;
    /* position: absolute; */
    margin-top: 200px;
    padding-left: -9px;
    position: absolute;
    left: calc(50% - 53px);
}
.wedding-content
{
	width: 60%;
	margin-top: 120px;
	text-align: center;
	background-color: rgba(228, 205, 203,0.8);
}
.event-list {
    width: 90%;
    margin: 0 auto;
}
.name
{
       padding-top: 15%;
       padding-bottom: 5%;
    color: #fff;
    text-transform: uppercase;
   
    font-size: 50px;
}
.family-row
{
	padding-top: 50px;
    width: 90%;
    padding-bottom: 50px;
}

.family-row .col.m3.s12{
    position: relative;
    overflow: hidden;
    padding-right: 0px;
    padding-bottom: 0;
}
.row.relation {
    position: absolute;
    bottom: 0;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0.78) 50%,rgba(255, 255, 255, 0.0)100%);
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 6px;
}


.family-area {
    background: #7391c3;
    margin-top: -20px;
}

.family-name {
    font-size: 25px;
    color: rgb(119, 79, 56);
    text-transform: capitalize;
}
.family-desination {
    font-size: 17px;
     color: rgb(119, 79, 56);
    text-transform: capitalize;
}
.family-img {
    margin-bottom: 5px;
}
.family-img img {
    width: 100%;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border: 5px solid #fff;
 }
.wedding-title {
       color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.wedding-last-img
{
	text-align: center;
    padding-top: 50px;
}
/*
.wedding-main-content {
        margin: 0 auto;
    width: 60%;
    background: rgba(115, 145, 195, 0.8);
    padding: 20px;
    margin-top: 70px;
}*/

.wedding-date {
   text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 45px;
}


.row.wedding-countdown {
    background: #7391c3;
    margin-bottom: 0px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px !important;
    position: relative;
    z-index: 1;
}

.countdown-item {
    width: 25%;
    float: left;
}

.countdown-value {
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
}

.countdown-footer {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}


.countdown-item {
    border-right: 2px solid #fff;
}

.countdown-item.last {
    border-right: none;
}

.section-title {
    text-align: center;
}

.row.wedding-white {
    background: white;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.row.couple-detail {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    color: #7391c3;
    font-size: 30px;
    font-weight: 500;
}

.image-container {
    text-align: center;
}

.couple-name {
    text-align: center;
}

.couple-intro {
    text-align: center;
}

.heart-circle {
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background: #E08E79;
    color: #fff;
    line-height: 95px;
    border-radius: 50%;
    font-size: 28px;
    margin-top: 40px;
    border: 5px solid #ccc;
}
.image-container img {
    border: 5px solid #ccc;
}

.couple-name {}

.couple-name {
    margin-top: 20px;
    font-size: 25px;
    color: #7391c3;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}
.couple-name span {
    font-weight: 500;
}
.couple-intro {
    color: #928f8f;
}

.section-title {
    margin-bottom: 30px;
    margin-top: 50px;
}
.container-fullwidth.title-container {
    background-color: #7391c3;
}

.title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.carousel {
    width: 90%;
    margin: 0 auto;
}


.time-icon {
    width: 30px;
    float: left;
        color: rgb(164, 164, 164);
    font-size: 20px;
}

.time-details {
    width: calc(100% - 30px);
    text-align: left;
    float: right;
        color: rgb(164, 164, 164);
    font-size: 16px;
}

.event-time-container {
    overflow: hidden;
    margin-bottom: 15px;
}

.location-icon {
    width: 30px;
    float: left;
         color: rgb(123, 119, 119);
     font-size: 20px;
}

.location-details {
    width: calc(100% - 30px);
    float: right;
        color: rgb(164, 164, 164);
    text-align: left;
    font-size: 16px;
}

.event-name-container {
    overflow: hidden;
    background-color: rgb(242, 239, 225);
    margin-bottom: 25px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.name-image-container {
    width: 80px;
    float: left;
}

.name-image-container img {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.name-details {
    float: right;
    width: calc(100% - 80px);
}

.event-list {
    overflow: hidden;
}
.logo
{
    height: 80px;
    width: auto;
    margin-top: 5px;
}
.wedding-img {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.event-location-container {
    overflow: hidden;
        margin-bottom: 15px;
}

.name-details {
    padding: 20px;
    color: rgb(119, 79, 56);
    font-size: 18px;
    line-height: 1.5;
}
.container-fullwidth.last {
    background-color: rgb(63, 63, 63);
}

.wedding-last-title {
    color: #fff;
    padding-top: 10px;
    font-size: 45px;
    text-align: center;
    margin-top: 0px;
}

.wedding-last-date {
    text-align: center;
    font-size: 25px;
    color: #827d7d;
    line-height: 40px;
    padding-bottom: 34px;
}
.happy-img {
    text-align: center;
    margin-bottom: 25px;
}
.groom-img {
    text-align: center;
    margin-bottom: 40px;
}
.event-row {
    margin-bottom: 100px;
    margin-top: 100px;
}


div#bride-family {
    background: #fff;
}
div#bride-family .title{
    color: #7391c3;
}
div#bride-img-border img{
    border: 5px solid #7391c3;
}
#bride-img-border{
    margin-top: -50px;
}
.footer
{
	/*min-height: 50px;*/
    background-color: #313131;
    overflow: hidden;
}

.developed-by {
    color: #6d6b6b;
    padding: 20px;
}

.developed-by a {
    color: #fff;
}

.social-item {
    float: right;
    padding: 8px 13px;
    background: #fff;
    margin: 8px;
    /* padding-left: 10px; */
    border-radius: 50%;
}

a.nav-menu {
    line-height: 95px;
}

div#program {
    padding-top: 25px;
    background: #7391c3;
    color: #fff;
    padding-bottom: 25px;
}
div#program .section-title{
    color: #fff;
}

div#bride_event{
/*    padding-top: 25px;*/ 
    background: #fff;
    color: #7391c3;
    padding-bottom: 25px;
}
div#bride_event .col.s12.m4{
    background: #7391c3 !important; 
}
div#brideEvent .card-panel {
    background: #7391c3;
}
div#bride_event.section-title{
    color: #7391c3;
}
div#bride_event .col.s12.m4 .event-name-container{
    background: rgb(102, 129, 173);
}
div#bride_event .col.s12.m4 .time-icon{
    color: #fff;
}
div#bride_event .col.s12.m4 .time-details{
    color: #fff;
}
div#bride_event .col.s12.m4 .location-icon{
    color: #fff;
}
div#bride_event .col.s12.m4 .location-details{
    color: #fff;
}
div#bride_event .col.s12.m4 .name-details{
    color: #fff;
}



.event-list .m4 {
    border: 1px solid #AAA;
    background: #fff !important;
    overflow: hidden;
    margin: 10px;
    width: 32% !IMPORTANT;
    padding: 25px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
}



/*Media Mobile Resposive*/

@media(max-width: 768px){
    .profile-area{
        width: 100%;
    }
    nav .button-collapse {
        float: left;
        position: relative;
        z-index: 1;
        height: 94px;
        margin: 0px 25px;
        padding: 25px;
        left: 0;
        margin-left: 0;
    }
    .bg-img img {
        position: relative;
        z-index: -1;
        max-height: 286px;
        overflow-x: hidden;
        min-height: 345px;
    }
    .heart-circle {
        text-align: center;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        background: #E08E79;
        color: #fff;
        line-height: 95px;
        border-radius: 50%;
        font-size: 30px;
        margin-top: 30px;
        border: 5px solid #ccc;
        margin-bottom: 30px;
    }
    .family-row{
        text-align: center;
    }
    .title{
        padding-top: 25px;
        padding-bottom: 25px;
    }


    /*======= time =========*/    
    .row.wedding-countdown{
        padding:25px 0px !important;
    }
    .countdown-item{
        border-right: 1px solid #fff;
    }
    .countdown-footer {
        text-align: center;
        color: #ececec;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .countdown-value {
        text-align: center;
        color: #fff;
        font-size: 38px;
        line-height: 1;
    }

    .section-title{
        margin-top: 0px;
    }

    .event-row {
        margin-bottom: 50px; 
        margin-top: 50px;
    }
    .wedding-last-title{
        font-size: 32px;
    }
    .wedding-last-date{
        font-size: 18px;
    }

    .carousel{
        height: 350px !important;
    }



    span.heart img {
        height: 45px;
    }
    span.heart {
        position: absolute;
        overflow: hidden;
        left: calc(50% - 28px);
        top: 35%;
        z-index: 1;
    }
    .family-area{
        min-height: 400px;
        padding-bottom: 20px;
    }
    .carousel.carousel-slider{
        min-height: 400px;
    }

    #sidenav-overlay{
        z-index: 1;
    }
    .carousel.carousel-slider .carousel-item{
        background: transparent;
        box-shadow: none;
    }
}